{% extends 'base.html.twig' %}
{% block body %}
    <div class="wrapper">

        <div class="sidebar-wrapper">

            <div class="profile-container">


                <img class="avatar" src="{{ absolute_url(asset('images/resume_files/IMG_1921_rounded.png')) }}" alt="profile picture">



                <h1 class="name">Rémy MANCHON</h1>



                <h3 class="tagline">Web Developper - Symfony</h3>


            </div><!--//profile-container-->

            <div class="contact-container container-block">
                <ul class="list-unstyled contact-list">


                    <li class="email"><i class="fas fa-envelope"></i>
                        <a href="mailto:remym2402@gmail.com">remym2402@gmail.com</a>
                    </li>



                    <li class="phone"><i class="fas fa-phone"></i>
                        <a href="tel:06 65 73 53 33">06 65 73 53 33</a>
                    </li>





                    <li class="website"><i class="fas fa-globe-americas"></i>
                        <a href="http://not%20online%20yet./" target="_blank">not online yet.</a>
                    </li>



                    <li class="linkedin"><i class="fab fa-linkedin"></i>
                        <a href="https://linkedin.com/in/ryme-hyperion-oclock" target="_blank">ryme-hyperion-oclock</a>
                    </li>



                    <li class="github"><i class="fab fa-github"></i>
                        <a href="http://github.com/Remy-dev" target="_blank">Remy-dev</a>
                    </li>







                    <li class="twitter"><i class="fab fa-twitter"></i>
                        <a href="https://twitter.com/@ryme2402" target="_blank">@ryme2402</a>
                    </li>








                </ul>
            </div><!--//contact-container-->






            <div class="languages-container container-block">

                <h2 class="container-block-title">
                    Languages
                </h2>

                <ul class="list-unstyled interests-list">

                    <li>
                        Français
                        <span class="lang-desc">(langue maternelle)</span>
                    </li>

                    <li>
                        Anglais
                        <span class="lang-desc">(Professionnel)</span>
                    </li>

                    <li>
                        Italien
                        <span class="lang-desc">(Professionnel)</span>
                    </li>

                </ul>

            </div><!--//interests-->




            <div class="interests-container container-block">

                <h2 class="container-block-title">
                    Interests
                </h2>

                <ul class="list-unstyled interests-list">



                    <li>Sport - fitness</li>





                    <li>Lecture - Heroic fantasy - sf</li>



                </ul>

            </div><!--//interests-->





        </div><!--//sidebar-wrapper-->


        <div class="main-wrapper">


            <section class="section summary-section">

                <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-user fa-stack-1x fa-inverse"></i>
    </span>
                    Developpeur web et web mobile - backend - spé Symfony
                </h2>

                <div class="summary">
                    <p>Reconverti professionnel. J’ai l’immense plaisir d’annoncer que je viens de terminer ma formation O’clock, php/Symfony, et que je suis prêt pour le monde professionnel du dev !</p>

                </div><!--//summary-->

            </section><!--//section-->







            <section class="section educations-section">

                <h2 class="section-title">
      <span class="fa-stack fa-xs">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fas fa-graduation-cap fa-stack-1x fa-inverse"></i>
      </span>
                    Education
                </h2>


                <div class="item">

                    <div class="meta">

                        <div class="upper-row">
                            <h3 class="degree">Titre professionnel Développeur Web et Web mobile</h3>
                            <div class="time">De Avril à fin septembre 2020</div>
                        </div><!--//upper-row-->

                        <div class="university"></div>
                    </div><!--//meta-->


                    <div class="details">
                        <p>700h intensives<br />
                            -> 3 mois de Socle: HTML5 / CSS 3 / PHP / JAVASCRIPT<br />
                            -> 1 mois de spécialisation Symfony<br />
                            -> 1 mois de projet</p>

                    </div><!--//details-->


                </div><!--//item-->

                <div class="item">

                    <div class="meta">

                        <div class="upper-row">
                            <h3 class="degree">Baccalauréat professionnel Comptabilité et Gestion</h3>
                            <div class="time">2003</div>
                        </div><!--//upper-row-->

                        <div class="university"></div>
                    </div><!--//meta-->



                </div><!--//item-->


            </section><!--//section-->







            <section class="section experiences-section">
                <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-briefcase fa-stack-1x fa-inverse"></i>
    </span>
                    Experiences
                </h2>


                <div class="item">

                    <div class="meta">

                        <div class="upper-row">
                            <h3 class="job-title">Responsable Inventaire</h3>
                            <div class="time">2011 - 2018</div>
                        </div><!--//upper-row-->

                        <div class="company">Fairson Inventaire</div>

                    </div><!--//meta-->


                    <div class="details">
                        <p>Supervision d’équipe lors de mission de réalisation d’inventaire de toute sorte, en France et en Italie</p>

                    </div><!--//details-->


                </div><!--//item-->


            </section><!--//section-->






            <section class="section projects-section">

                <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-archive fa-stack-1x fa-inverse"></i>
    </span>
                    Projet - O pré de chez vous
                </h2>


                <div class="intro">
                    <p>Site de co-voiturage de produits locaux, régionaux et artisanaux.</p>
                </div><!--//intro-->




            </section><!--//section-->









            <section class="skills-section section">

                <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-wrench fa-stack-1x fa-inverse"></i>
    </span>
                    Mes technos
                </h2>

                <div class="skillset">


                    <div class="item">

                        <h3 class="level-title"></h3>
                        <img class="icon" src="{{ absolute_url(asset('images/resume_files/php.png')) }}" alt="techno icon">
                        <img class="icon" src="{{ absolute_url(asset('images/resume_files/js.png')) }}" alt="techno icon">
                        <img class="icon" src="{{ absolute_url(asset('images/resume_files/bootstrap-300x300.png')) }}" alt="techno icon">
                        <img class="icon" src="{{ absolute_url(asset('images/resume_files/logo-symfony.png')) }}" alt="techno icon">
                        <img class="icon" src="{{ absolute_url(asset('images/resume_files/Github-logo-deploiement-flash.png')) }}" alt="techno icon">
                        <!--<div class="level-bar">
                          <div class="level-bar-inner" data-level="">
                          </div>
                        </div>//level-bar-->

                    </div><!--//item-->


                </div>

            </section><!--//skills-section-->



        </div>
    </div>

    <script async="" src="{{ absolute_url(asset('images/resume_files/analytics.js')) }}"></script><script type="text/javascript" src="{{ absolute_url(asset('images/resume_files/jquery-1.11.3.min.js')) }}"></script>
    <script type="text/javascript" src="{{ absolute_url(asset('images/resume_files/bootstrap.min.js')) }}"></script>

    <!-- custom js -->
    <script type="text/javascript" src="{{ absolute_url(asset('images/resume_files/main.js')) }}"></script>

